<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="page-head">Contact</p>
      <p>Your comments are always welcome. You can contact us by writing, calling or by sending us an e-mail message.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="big-red">Thank you for your interest and support.</p> 
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <p class="big-red">Staff</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Joe Ahern, Chief Executive Officer</p>
      <p>Caitlyn Brennan, Chief Operating Officer</p>
      <p>Taryn Mason, Program and Event Manager</p>
      <p>Lindsey Dorcus, Executive Administrator</p>
      <p>Chelsea Barras, Marketing and Communications Manager</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <p class="big-red">Address</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>100 Club of Chicago</p>
      <p>875 North Michigan Avenue, Suite 1351</p>
      <p>Chicago, IL 60611</p>
      <a href="https://www.google.com/maps/place/875+N+Michigan+Ave,
      +Chicago,+IL+60611/@41.8986397,-87.6249427,17z/data=!3m1!4b1!4m5
      !3m4!1s0x880fd354120d4821:0x5f43d979b38c9621!8m2!3d41.8986397!4d-87.622754">Location Map</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <p class="big-red">General Contact Information</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Telephone: (312) 265-0920</p>
      <p>Fax: (312) 929-4751</p>
      <p>Website: <a href="https://www.100clubchicago.org">www.100clubchicago.org</a></p>
      <p>Facebook: <a href="https://www.facebook.com/100clubofchicago">www.facebook.com/100clubofchicago</a></p>
      <p>Instagram: <a href="http://instagram.com/100clubchicago">https://instagram.com/100clubchicago</a></p>
      <p>Twitter: <a href="https://twitter.com/chicago100club">@Chicago100Club</a></p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <p class="big-red">Staff Emails</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <p>Joe Ahern: jahern@100clubchicago.org</p>
    <p>Caitlyn Brennan: cbrennan@100clubchicago.org</p>
    <p>Taryn Mason: tmason@100clubchicago.org</p>
    <p>Lindsey Dorcus: ldorcus@100clubchicago.org</p>
    <p>Chelsea Barras: cbarras@100clubchicago.org</p>
    </div>
  </div>
</div>
