<!-- CONTENT --------------------------------------------------------------------------------->
<!-- Intro -->
<section id="intro" class="intro">
    <!-- Static Intro -->
    <div class="bg-image overlay-dark dark-bg bg-fixed" data-background-img="homepageimage.jpeg">
        <div class="js-fullscreen-height container">
            <div class="intro-content">
                <div class="intro-content-inner">
                    <h1 class="h1">Give a little. Change a lot.</h1>

                    <div class="row">
                        <p class="lead col-md-6 col-md-offset-3">Together providing for families of fallen heros since 1952</p>
                    </div>
                    <br>
                    <div><a class="btn btn-md btn-white-line xs-hidden">Read More</a><span class="btn-space-10 xs-hidden"></span><a class="btn btn-md btn-white">Learn More</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Static Intro -->
</section>
<!-- End Intro -->
<div class="clearfix"></div>

<!-- END CONTENT ---------------------------------------------------------------------------->











<!-- <div class="jumbotron jumbotron-home">
  <div class="container">
  <h1>Give a little. Change a lot.</h1>
    <h3 class="italic">Together providing for families of fallen heroes since 1952.</h3>
    <p>
      <a class="btn btn-large" href="/members/new" role="button">Join Us</a>
      <a class="btn btn-large" href="/donations/new" role="button">Donate</a>
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <h3 class="home-section-header">Latest News</h3>
    </div>
    <div class="col-xs-1">
      <a class="btn btn-small" href="/blog_posts" role="button">Read More</a>
    </div>
    <div class="col-xs-3">
      <h3 class="home-section-header">Events</h3>
    </div>
    <div class="col-xs-1">
      <a class="btn btn-small" href="/events" role="button">Read More</a>
    </div>
  </div>
  <div class="row">
    <% @recent_news.each do |post| %>
      <div class="well col-xs-4">
        <h5><%= post.title %></h5>
        <p><%= post.content %></p>
      </div>
    <% end %>
    <div class="well col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <% @future_events.each do |event| %>
            <div class="well">
              <h5><%= event.title %></h5>
              <p><%= event.datetime %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row block-quote-row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h3 class="block-quote">
        The 100 Club of Chicago provides financial assistance, access to resources and moral support
        for the families of first responders who have lost their lives in the line of duty in Cook
        and Lake Counties.
      </h3>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-11">
      <h3 class="home-section-header">Programs</h3>
    </div>
    <div class="col-xs-1">
      <a class="btn btn-small" href="/programs" role="button">View All</a>
    </div>
  </div>
  <div class="row">
    <div class="well col-xs-4">
      <h3>First Response Assistance</h3>
      <p>Financial support is provided to families of fallen responders within 24 hours and in the following weeks.</p>
    </div>
    <div class="well col-xs-4">
      <h3>Educational Assistance</h3>
      <p>Grants and scholarships to the spouses and children of fallen first responders for higher education.</p>
    </div>
    <div class="well col-xs-4">
      <h3>Gold Shield Partners</h3>
      <p>Professional support in the areas of Health, Education, Job Training, and Insurance.</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-home">
  <div class="container">
    <h1>We can't do it without you.</h1>
    <h3 class="italic">Join our membership programs to make a difference today.</h3>
    <p>
      <a class="btn btn-large" href="#" role="button">Read More</a>
    </p>
  </div>
</div>

<div class="container supporters">
  <div class="row">
    <h3>Thanks to our supporters!</h3>
  </div>
  <div class="row">
    <p>PLACE SUPPORTER LOGOS HERE</p>
  </div>
</div> -->
