<!-- Jumbotron -->
<div class="jumbotron" id="jumbotronGif">
  <div class="container">
    <p id="jumbotronText">Give a Little. Change a Lot.</p>
    <p id="jumbotronTextMini">Together providing for families of fallen heros since 1952</p>
    <div class="text-center">
        <button type="button" class="btn btn-lg joinDonate"> Join us </button>
        <button type="button" class="btn btn-lg joinDonate"> Donate </button>
    </div>
  </div>
</div>
<br>
<!-- End Jumbotron -->
<!-- News and Events -->
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <p class="wellHeader">Latest News</p>
      <hr>
    </div>
    <div class="col-lg-4">
      <p class="wellHeader">Next Event</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="col-lg-6 well well-sm wellNewsEvents">
        <img class="img-responsive wellImg" src="<%= asset_path 'police_luncheon.jpg' %>">
        <br>
        <p class="wellDate">5/20/16</p>
        <p class="wellTitle">53rd Fire Luncheon</p>
        <p class="wellBody">The chicoago 53rd police luncheon was held on May 20th. 
          Officers Jameka Sherrod, Rodney Jones and... <a class="readMore" href="#">Read More</a></p>
      </div>
      <div class="col-lg-6 well well-sm wellNewsEvents">
        <img class="img-responsive wellImg" src="<%= asset_path 'paris_club_night.jpg' %>">
        <br>
        <p class="wellDate">5/08/16</p>
        <p class="wellTitle">Paris Club Night</p>
        <p class="wellBody">Our recent fundraising event was held on Nov. 
          15 at Paris Club restaurant in River North neighborhood center... <a class="readMore" href="#">Read More</a></p>
      </div>  
    </div>
    <div class="col-lg-4">
      <div class="col-lg-12 well well-sm wellNewsEvents">
        <img class="img-responsive wellImg" src="<%= asset_path 'football.jpg' %>">
        <br>
        <p class="wellDate">Jun 25 @ 6:00 p.m</p>
        <p class="wellTitle">Community Football</p>
        <p class="wellBody">Join us this June 25th for our annual Police vs Fire flag football game.
          Who will win this year... <a class="readMore" href="#">Read More</a></p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <p class="introText">The 100 Club of Chicago provides financial assistance, 
        access to resources and moral support for the families of first responders 
        who have lost their lives in the line of duty in Cook and Lake Counties.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <p class="wellHeader">Our Programs</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4 well well-sm wellPrograms">

      </div>
      <div class="col-lg-4 well well-sm wellPrograms">
        
      </div>
      <div class="col-lg-4 well well-sm wellPrograms">
        
      </div>
    </div>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'comforting_hands.jpg' %>">
  <div class="helping_hands">
    <p id="jumbotronText">We can't do it without you</p>
    <p id="jumbotronTextMini">Join our membership programs to make a difference today</p>
    <div class="text-center">
        <button type="button" class="btn btn-lg joinDonate"> Join us </button>
        <button type="button" class="btn btn-lg joinDonate"> Donate </button>
    </div>
  </div>
</div>