<!-- <div align="center" class="embed-responsive embed-responsive-16by9">
    <video autoplay loop muted class="embed-responsive-item">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
    </video>
</div> -->

<!-- <div class="fullscreen-bg">
  <video class= "fullscreen-bg_video" width="320" height="240" autoplay loop muted>
    <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
  </video>
</div>
 -->

  <div class="jumbotron jumbotron-home">
  <div class="container">
    <img src="extras.jpg" class="jumbotron-image">

    <h1>Give a little. Change a lot.</h1>
    <h3>Together providing for families of fallen heroes since 1952</h3>
    <p>
      <a class="btn btn-primary btn-lg" href="/members/new" role="button">Join Us</a>
      <a class="btn btn-primary btn-lg" href="/donations/new" role="button">Donate</a>
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h3>News</h3>
    </div>
    <div class="col-xs-4">
      <h3>Events</h3>
    </div>  
  </div>        
  <div class="row">
    <% @recent_news.each do |post| %>
      <div class="well col-xs-4">
        <h5><%= post.title %></h5>
        <p><%= post.content %></p>
      </div>
    <% end %>
    <div class="well col-xs-4">
      <div class="row">
      <div class="col-xs-12">
        <% @future_events.each do |event| %>
          <div class="well">
            <h5><%= event.title %></h5>
            <p><%= event.datetime %></p>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>

<p>
  The 100 Club of Chicago provides financial assistance, access to resources and moral support 
  for the families of first responders who have lost their lives in the line of duty in Cook 
  and Lake Counties.
</p>