<!-- <div align="center" class="embed-responsive embed-responsive-16by9">
    <video autoplay loop muted class="embed-responsive-item">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
    </video>
</div> -->

<!-- <div class="fullscreen-bg">
  <video class= "fullscreen-bg_video" width="320" height="240" autoplay loop muted>
    <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
  </video>
</div>
 -->

<div class="jumbotron jumbotron-home">
  <div class="container">
  <h1>Give a little. Change a lot.</h1>
    <h3 class="italic">Together providing for families of fallen heroes since 1952.</h3>
    <p>
      <a class="btn btn-primary btn-lg" href="/members/new" role="button">Join Us</a>
      <a class="btn btn-primary btn-lg" href="/donations/new" role="button">Donate</a>
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <h3>Latest News</h3>
    </div>
    <div class="col-xs-1">
      <a class="btn btn-primary btn-xs" href="/blog_posts" role="button">Read More</a>
    </div>
    <div class="col-xs-3">
      <h3>Events</h3>
    </div>  
    <div class="col-xs-1">
      <a class="btn btn-primary btn-xs" href="/events" role="button">Read More</a>
    </div>
  </div>        
  <div class="row">
    <% @recent_news.each do |post| %>
      <div class="well col-xs-4">
        <h5><%= post.title %></h5>
        <p><%= post.content %></p>
      </div>
    <% end %>
    <div class="well col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <% @future_events.each do |event| %>
            <div class="well">
              <h5><%= event.title %></h5>
              <p><%= event.datetime %></p>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p class="block-quote italic">
    The 100 Club of Chicago provides financial assistance, access to resources and moral support 
    for the families of first responders who have lost their lives in the line of duty in Cook 
    and Lake Counties.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-11">
      <h3>Programs</h3>
    </div>
    <div class="col-xs-1">
      <a class="btn btn-primary btn-xs" href="#" role="button">View All</a>
    </div>
  </div>
  <div class="row">
    <div class="well col-xs-4">
      <h3>First Response Assistance</h3>
      <p>Financial support is provided to families of fallen responders within 24 hours and in the following weeks.</p>
    </div>
    <div class="well col-xs-4">
      <h3>Educational Assistance</h3>
      <p>Grants and scholarships to the spouses and children of fallen first responders for higher education.</p>
    </div>
    <div class="well col-xs-4">
      <h3>Gold Shield Partners</h3>
      <p>Professional support in the areas of Health, Education, Job Training, and Insurance.</p>
    </div>
  </div>
</div>  

<div class="jumbotron jumbotron-home">
  <div class="container">
    <h1>We can't do it without you.</h1>
    <h3 class="italic">Join our membership programs to make a difference today.</h3>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Read More</a>
    </p>
  </div>
</div>