<div class="parallax-window" data-parallax="scroll" data-position="0px 89px" data-image-src="<%= asset_path 'programs_header.jpg' %>" >
</div>


<div class="row block-quote-row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h3 class="block-quote">
        Since its inception, the 100 Club of Chicago has served 258 families with more than $9 million,
        of which more than $4 million was devoted to educational assistance.
      </h3>
    </div>
  <div class="col-sm-2"></div>
</div>

<div class="container">
  <div class="row">
    <div class="row section-heading">
    <div class="col-xs-12 col-sm-4" id="section-heading-text">
      <p id="bold-font" style="display: inline">Our Programs</p><p style="display: inline"></p>
    </div>
    <div class="col-xs-12 col-sm-8" id="section-heading-line">
      <div id="line"></div>
    </div> 
  </div>
  <div class="row">
    <div class="well col-xs-4">
      <h3>First Response Assistance</h3>
      <p>Financial support is provided to families of fallen responders within 24 hours and in the following weeks.</p>
    </div>
    <div class="well col-xs-4">
      <h3>Educational Assistance</h3>
      <p>Grants and scholarships to the spouses and children of fallen first responders for higher education.</p>
    </div>
    <div class="well col-xs-4">
      <h3>Gold Shield Partners</h3>
      <p>Professional support in the areas of Health, Education, Job Training, and Insurance.</p>
    </div>
  </div>
</div>

<div class="container">

  <div>
    <div class="row">

        <h3>1. First Response Assistance</h3>

      <div class="col-md-8">
        <h4>Financial Suport is Provided to Families of Fallen First Responders</h4>
        <p>While money can never replace the loss of a loved one, funds can be extremely helpful in easing the financial burden associated with the tragic event.</p>
        <p>That is why when tragedy strikes in Cook or Lake County, the 100 Club of Chicago – the civilian organization that provides for the families of fallen police officers, firefighters and paramedics – immediately responds with financial support to help lessen the devastating effects.</p>
        <h4>First 24 Hours</h4>
        <p>Within the first 24 hours following a loss of life in the line-of-duty, the 100 Club of Chicago presents an initial check to the surviving spouse or dependent parent to help cover the family’s immediate financial needs.</p>
        <h4>Within Several Weeks</h4>
        <p>Within several weeks of a loss of life, the 100 Club of Chicago:
         <ul>
           <li>Meets with the family a second time to present an additional check totaling $50,000 to defray a portion of the family’s debts.</li>
            <li>Advises the family of future financial assistance for post-secondary education.</li>
          </ul>
        </p>
      </div>
      <div class="col-md-4">
        <img src="https://static.wixstatic.com/media/6cb6ee_8e75b7adf1a34d4cbf267e5241898634~mv2.jpeg/v1/fill/w_426,h_222,al_c,q_80,usm_0.66_1.00_0.01/6cb6ee_8e75b7adf1a34d4cbf267e5241898634~mv2.jpeg" class="img-responsive">
        <img src="https://static.wixstatic.com/media/10298514ff5b4c75a885a62baa3f4578.jpg/v1/fill/w_426,h_216,al_c,q_80,usm_0.66_1.00_0.01/10298514ff5b4c75a885a62baa3f4578.jpg", class="img-responsive">
      </div>
    </div>
  </div>

  <hr>

  <div>
    <div class="row">
      <div class="col-md-12">
        <h3>2. Educational Assistance</h3>
      </div>
      <div class="col-md-8">
        <p>The 100 Club Educational Assistance Program is available to the spouses and children of fallen first responders for higher education, including trade and vocational schools, colleges, and universities – – grants and scholarships are for both undergraduate and graduate levels.</p>
        <h4>Program Overview</h4>
        <p>Each year the 100 Club will provide a number of grants to the biological, adopted and stepchildren of those law enforcement officers, firefighters and EMS providers who have lost their lives in the line of duty. This includes all federal, state, county and local first responders stationed in Cook and Lake Counties. Grants may also be made to the surviving spouse of a 100 Club Hero. Please utilize the information and resources through the below link when embarking on your grant application process. Contact Caitlyn Brennan with questions at 312.265.0920 or cbrennan@100clubchicago.org</p>
        <h4>Education Assistance Facts</h4>
          <ul>
            <li>19 children received educational assistance in the 2014 – 2015 school year</li>
            <li>50 children are eligible for future educational assistance</li>
            <li>$246,332 in assistance was provided in the past year</li>
            <li>572 children and spouses have been offered assistance since 1970</li>
            <li>$3,630,000 in assistance has been provided since 1970</li>
          </ul>
        </p>
        <h4>Current Recipients</h4>
        <p>Current educational assistance recipients are attending the following institutions:
          <ul>
            <li>Butler University</li>
            <li>Columbia College Chicago</li>
            <li>Concordia University (Chicago)</li>
            <li>DePaul University</li>
            <li>Eastern Illinois University</li>
            <li>Howard University</li>
            <li>Illinois State University</li>
            <li>The John Marshall Law School</li>
            <li>Loyola University (Chicago)</li>
            <li>Northeastern Illinois University</li>
            <li>Northwestern University</li>
            <li>Purdue University</li>
            <li>St. Ambrose University</li>
            <li>University of Iowa</li>
          </ul>
        </p>
        <p>For current scholars, please click here for more information.</p>
      </div>
      <div class="col-md-4">
          <img src="https://static.wixstatic.com/media/6cb6ee_8e75b7adf1a34d4cbf267e5241898634~mv2.jpeg/v1/fill/w_426,h_222,al_c,q_80,usm_0.66_1.00_0.01/6cb6ee_8e75b7adf1a34d4cbf267e5241898634~mv2.jpeg" class="img-responsive">
          <img src="https://static.wixstatic.com/media/10298514ff5b4c75a885a62baa3f4578.jpg/v1/fill/w_426,h_216,al_c,q_80,usm_0.66_1.00_0.01/10298514ff5b4c75a885a62baa3f4578.jpg", class="img-responsive">
      </div>
    </div>
  </div>

<hr>

  <div>
    <div class="row">
      <div class="col-md-12">
        <h3>3. Gold Shield Partners</h3>
      </div>
      <div class="col-md-8">
        <p>The 100 Club of Chicago Gold Shield Partners Program includes six businesses/organizations that represent the best in their respective industry. These organizations work with the families of the fallen to provide them with <span style="font-weight: bold; font-style: italic;">pro bono professional support in the areas of Health, Law, Finance, Education, Job Training and Insurance.</span></p>
        <h4>Gold Shield Partners include:</h4>
          <ul>
            <li>Mesirow Financial</li>
            <li>Finance Partner</li>
            <li>Motorola Solutions</li>
            <li>Education Partner </li>
            <li>Young Lawyers Section of the Chicago Bar Association</li>
            <li>Legal Partner</li>
          </ul>
        <p>Gold Shield Partners commit to a four-year relationship with the 100 Club. They provide pro bono services ranging from educational brochures addressing the specific needs common among 100 Club families to free services. In addition to pro bono professional support to 100 Club Families, Gold Shield Partners make a significant financial gift each year.</p>
      </div>
      <div class="col-md-4">
          <img src="https://static.wixstatic.com/media/6cb6ee_8e75b7adf1a34d4cbf267e5241898634~mv2.jpeg/v1/fill/w_426,h_222,al_c,q_80,usm_0.66_1.00_0.01/6cb6ee_8e75b7adf1a34d4cbf267e5241898634~mv2.jpeg" class="img-responsive">
          <img src="https://static.wixstatic.com/media/10298514ff5b4c75a885a62baa3f4578.jpg/v1/fill/w_426,h_216,al_c,q_80,usm_0.66_1.00_0.01/10298514ff5b4c75a885a62baa3f4578.jpg", class="img-responsive">
      </div>
    </div>
  </div>

</div>

</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'comforting_hands.jpg' %>">
  <div class="helping_hands">
    <p id="jumbotronText">We can't do it without you</p>
    <p id="jumbotronTextMini">Join our membership programs to make a difference today</p>
    <div class="text-center">
        <button type="button" class="btn btn-lg joinDonate"> Join us </button>
        <button type="button" class="btn btn-lg joinDonate"> Donate </button>
    </div>
  </div>
</div>
