<div class="container">
  <div class="row">
    <div class="page-head text-center">THE SIREN</div>
      <div class="dropdown inline">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Archives  <span class="caret"></span></button>
         <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% @sirens.each do |siren| %>
            <li><a href="/sirens/<%= siren.id.to_s %>"><%= siren.title %></a></li>
          <% end %>
          <li><a target="_blank" href="https://issuu.com/100clubchicago/docs/summer2013-version5">Summer 2013</a></li>
          <li><a target="_blank" href="https://issuu.com/100clubchicago/docs/spring2013-version2">Spring 2013</a></li>
          <li><a target="_blank" href="https://issuu.com/100clubchicago/docs/winter_newsletter_version_11-6_1_?e=6667187/2600530">Winter 2013</a></li>
          <li><a target="_blank" href="https://issuu.com/100clubchicago/docs/siren_version_14_-_with_hyperlinks_1_?backgroundColor=">Autumn 2012</a></li>
        </ul>
      </div>
      <% if user_signed_in? %>
        <br>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <%= link_to "Add a Siren", "/sirens/new", method: :get, class: 'btn btn-primary btn-block' %>
          </div>
        <br>  
      <% end %>
    </div>   
   
    <div id="groove">
      <embed src="<%=Siren.last.pdf%>" width="100%" height="700px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </div> 
  </div>
</div>
