<h2>@fallen_hero.rank @fallen_hero.first_name @fallen_hero.middle_name @fallen_hero.last_name</h2>
<h3>@fallen_hero.department</h3>
<h3>@fallen_hero.date_deceased</h3>
<h4>@fallen_hero.image_url</h4>
<h4>@fallen_hero.description</h4>



