<div class="parallax-window" data-parallax="scroll" data-position="0px 0px" data-image-src="<%= asset_path 'champagne.jpeg'%>"></div>
<br>
<div class="container">
  <div>
    <p class="page-head text-center">Checkout the Latest Events</p>
  </div>

  <% if user_signed_in? %>
    <div class="col-xs-8 col-xs-offset-2">
      <%= link_to "Add a New Event", '/events/new', class: 'btn btn-info center-block' %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p class="block-quote">
        The 100 Club of Chicago provides financial assistance, access to resources and moral support 
        for the families of first responders who have lost their lives in the line of duty in and 
        around the Chicago Land Area.
      </p>
    </div>
  </div>

  <hr>
  <div id="calendar"></div>
  <br>
</div>
