<div class="container">
  <div class="row text-center">
    <%= image_tag("stop.jpg", class:"stop-image") %> 
    <h1>We're sorry, but something went wrong.</h1>
    <p>If you are the application owner check the logs for more information.</p>
  </div>
</div>  