/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-custom {
  background-color: transparent;
}

.navbar .navbar-nav {
  background: transparent;
  font-family: "Arial Black", "Arial Bold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  background: transparent;
  text-align: center;
}
.navbar-category {
  color: #000000 !important;
  margin-left: 12px;
  margin-right: 12px;
}

.navbar-category:hover {
  background-color: transparent !important;
  color:#BF0A30 !important;
}


.navbar-donate {
  background-color: transparent !important;
  color: #BF0A30 !important;
}

.navbar-donate:hover {
  color: #000000 !important;
}

#navbar-donate-active, #navbar-category-active  {
  color:#C8B791 !important;
}

