// Place all the styles related to the fallen-heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fallen-heroes-row {
  margin: 0 50px;
}

.section-heading {
  margin-top: 80px;
  margin-bottom: 30px;
}

.entry {
  height: 400px;
  margin-bottom: 25px;

  .entry-top {
    font-family: 'Libre Baskerville', serif;  
    height: 65px;
    background-color: #BC9B5D;

    img {
      max-width: 80px;
      height: auto;
      margin-top: 50%;
    }

    p {
      font-style: italic;
      color: #002E5D;
      font-size: 20px;
      padding-top: 16px;
    }
  }

  .entry-bottom {
    background-color: #DEDEDE;
    padding: 20px;
    height: 335px;

    .date {
      color: #BC9B5D;
    }
  }
}

.btn, .btn-small, .entry-button {
  text-align: center;
  margin: 0 auto;
}

#new-fallen-hero-button {
  margin-top: 40px;
  margin-bottom: 20px;
}

#hero-show-well {
  text-align: center;
}