// Place all the styles related to the fallen-heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fallen-heroes-row {
  margin: 0 50px;
}

.section-heading {
  margin-top: 40px;
  margin-bottom: 20px;
}

#hero-show-well {
  text-align: center;
}
