// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bannerDiv {
	padding-right: 75px;
}

#logoText {
	color: #bc9b5d;;
	font-weight: bold;
	font-size: 27px;
}

#logo {
	height: 132px;
	width: 132px;
}

.socialTop {
	float: right;
	margin-top: 42px;
  margin-right: 10px;
  height: 42px;
  width: 42px;
}

.navLinks {
  font-weight: bold;
  color: #0E2553;
}

#jumbotronGif {
  background-image: image-url("jumbotron.gif");
  background-size: cover;
  height: 50vh;
}
