// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#footer{
	background-color: rgba(188, 155, 93, 1);
	position: absolute;
	height: 246px;
	width: 100%;
	padding-top: 40px;
}

#footer-content{
	height: 246px;
	width: 980px;
	margin: auto;
	position: center;
	text-align: center;
	color: white;
}

#footer-content p {
	font-size: 12px;
	letter-spacing: 0.04em;
	display: inline;
	margin: auto;
	text-align: center;
	}

#navbar-1 li {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font: normal normal normal 18px/1.4em 'open sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
}

#navbar-1 a {
	color: white;
	text-decoration: none;
}

#navbar-1 a:hover {
	text-decoration: underline;
}		

#navbar-2 li {
	display: inline;
	font-size: 13px;
	font-weight: lighter;
}

#navbar-2 a {
	color: white;
	text-decoration: none;
}	

#navbar-2 a:hover {
	text-decoration: underline;
}	

#footer-icons img {
	object-fit: cover;
	height: 26px;
	width: 26px;
}

#footer-icons li {
display: inline;
}