<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    
    <!--  @event.image -->
    <h1>  <%=@event.title%></h1>
    <h3><%=@event.description%></h3>
    <h2> When? <%=@event.datetime.strftime('%A %b %d, %l:%M %p') %></h2>
    <h2> Where? <%=@event.location%></h2>
    <h2>Hope to see you there!</h2>
  </body>
</html>